

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
	font-family: 'Lato', sans-serif;
	padding-top: 80px;
	padding-bottom: 20px;
	line-height: 28px;
}



.above-nav {
	background-color: #34495e; /*#096db0;*/
	position: fixed;
	color: #fff;
	font-size: 10px;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 20px;
}

	.above-nav > div {
		padding: 0;
		text-align: right;
		margin: 0 auto;
		max-width: 1120px;
		max-height: 20px;
	}

		.above-nav > div > a > img {
			position: relative;
			vertical-align: inherit;
			margin-left: 10px;
		}

			.above-nav > div > a:last-child > img {
				margin-left: 3px;
			}

		.above-nav > div > a span {
			position: relative;
			top: -6px;
			color: #fff;
		}

		.above-nav > div > a:hover {
			text-decoration: none;
		}

.navbar-fixed-top {
	top: 20px;
}



/*
 Header and Menu
 ****************************************************************/

.navbar-inverse {
	background-color: #2394df; /*#0f6ead;*/
	background-image: url();
	border: 0;
}

.navbar {
	margin-bottom: 0;
	min-height: 80px;
	transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
}

.navbar-brand {
	float: left;
	height: 80px;
	padding: 4px 15px;
	font-size: 18px;
	line-height: 20px;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
	background-image: url();
	box-shadow: inset 0 0 0 rgba(0,0,0,0);
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #0f6ead;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: #2394df; /*#0f6ead;*/
}

.navbar-nav > li > a {
	padding-top: 30px;
	padding-bottom: 30px;
	transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #ddd;
}

nav.navbar.shrink {
	min-height: 50px;
	max-height: 50px;
}

	nav.navbar.shrink .navbar-brand {
		height: 50px;
	}

		nav.navbar.shrink .navbar-brand > img {
			width: 60%;
			height: auto;
		}

	nav.navbar.shrink .navbar-nav > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
	}



/*
 Moto
 ****************************************************************/

.moto {
	background-color: #2394df;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

	.moto h4 {
		color: #fff;
		margin-top: 0;
		margin-bottom: 0;
		font-family: 'Courgette', cursive;
	}



/*
 Slider Backgroung
 ****************************************************************/

.cb-slideshow,
.cb-slideshow:after {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0;
}

.cb-slideshow:after { 
	content: '';
}

ul.cb-slideshow {
	list-style-type: none;
}

.cb-slideshow li span {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-top: 80px;
	color: transparent;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: none;
	opacity: 0;
	z-index: -1;
	animation: imageAnimation 24s linear infinite 0s;
}

.cb-slideshow li div { 
	z-index: 1000;
	position: absolute;
	top: 60%;
	left: 50%;
	opacity: 0;
	color: #fff;
	animation: titleAnimation 24s linear infinite 0s;
	display: inline-block;
	transform: translate(-50%, -60%);
		-webkit-transform: translate(-50%, -60%);
}

.cb-slideshow li div h3 { 
	font-size: 48px; /*240px;*/
	padding: 5px 10px;
	background-color: #0e6fae;
	text-align: center;
}

.cb-slideshow li div h4 { 
	font-size: 36px;
	padding: 5px 10px;
	background-color: #7e8081;
	text-align: center;
}

.cb-slideshow li:nth-child(1) span { 
	background-image: url('../img/slider1a.jpg') 
}
.cb-slideshow li:nth-child(2) span { 
	background-image: url('../img/slider2a.jpg');
	animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
	background-image: url('../img/slider3a.jpg');
	animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
	background-image: url('../img/slider5a.jpg');
	animation-delay: 18s; 
}

.cb-slideshow li:nth-child(2) div { 
	animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
	animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
	animation-delay: 18s; 
}

.no-cssanimations .cb-slideshow li span {
	opacity: 1;
}

@media screen and (max-width: 1140px) { 
	.cb-slideshow li div h3 { font-size: 140px; }
	.cb-slideshow li span { margin-top: 0; }
}
@media screen and (max-width: 600px) { 
	.cb-slideshow li div h3 { font-size: 80px; }
}

@keyframes imageAnimation {
	0% {
		opacity: 0;
		animation-timing-function: ease-in;
	}
	8% {
		opacity: 1;
	}
	17% {
		opacity: 1;
	}
	40% {
		opacity: 0;
	}
	100% { opacity: 0; }
}

@keyframes titleAnimation {
	/*0%*/0% {
		opacity: 0;
	}
	/*8%*/8% {
		opacity: 1;
	}
	/*17%*/17%{
		opacity: 1;
	}
	/*25%*/30% {
		opacity: 0;
	}
	100% { opacity: 0; }
}



/*
 Infos
 ****************************************************************/

.info {
	position: relative;
	display: block;
	top: 600px;
}

.info2 {
	padding-top: 140px;
	padding-bottom: 260px;
}

	h1.head-title {
		text-align: center;
	}

	hr {
		margin-bottom: 50px;
	}

	.info2 p {
		width: 60%;
		margin: 0 auto;
		font-size: 24px;
		line-height: 2;
		text-align: justify;
	}



/*
 Servicios
 ****************************************************************/

.servicios {
	position: relative;
	display: block;
	top: 480px;
	color: #fff;
	background-color: #3498db;
	padding-top: 100px;
	padding-bottom: 130px;
}

	.servicios > div > div {
		margin-top: 30px;
	}

		.servicios h3 {
			text-align: center;
		}

		.servicios > div > div > div > a img {
			margin: 0px auto;
			border: 25px solid #2c3e50;
		}

		.servicios > div > div > div > a img:hover {
			/*border: 25px solid #13d1cf;*/
		}



/*
 Mapa
 ****************************************************************/

.mapa {
	position: relative;
	display: block;
	top: 480px;
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
	background-color: #3498db;
}

	.mapa iframe {
		border: 0;
		width: 90%; /*600px;*/
		height: 450px; 
	}

	.mapa h1 {
		color: #fff;
	}



/*
 Citas
 ****************************************************************/

.citas {
	position: relative;
	display: block;
	top: 480px;
	padding-top: 50px;
	padding-bottom: 80px;
	text-align: center;
	background-color: #fff;
}



/*
 Formulario
 ****************************************************************/

.citas form {
	width: 459px;
	margin: 0 auto;
}

label {
	display: block;
	color: #333;
	margin-top: 10px;
	margin-bottom: 0;
	margin-left: 10px;
	text-align: left;
}

input, textarea {
	width: 439px;
	background-color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #ededed;
	padding: 10px;
	margin-top: 3px;
	font-size: 1em;
	color: #333;
}

	input:focus, textarea:focus {
		border: 1px solid #97d6eb;
	}

.submit {
	width: 127px;
	color: #fff;
	border: none;
	margin-top: 20px;
	cursor: pointer;
	background-color: #0f0f0f;
}

	.submit:hover {
		opacity: 0.9;
		background-color: #3f3f3f;
	}



/*
 Gallery
 ****************************************************************/

.gallery {
	position: relative;
	display: block;
	top: 480px;
	padding-top: 50px;
	padding-bottom: 80px;
	text-align: center;
	background-color: #fff;
}

	.gallery .row {
		margin-top: 30px;
	}



/*
 Footer
 ****************************************************************/

footer {
	position: relative;
	display: block;
	top: 480px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #080808;
}

	footer p {
		padding: 15px 0;
	}

	footer p.copy {
		margin-top: 45px;
		text-align: center;
	}

		footer > div > div > div > div {
			text-align: right;
			padding-top: 10px;
		}

			footer > div > div > div > div a {
				color: #fff;
			}

			footer > div > div > div > div a:hover {
				color: #ccc;
				text-decoration: none;
			}

			footer > div > div > div > div img {
				vertical-align: top;
			}





/* MEDIA QUERIES
 ****************************************************************/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.info2 {
		padding-top: 0px;
	}
}

@media only screen and (max-width : 1140px) {
	.cb-slideshow li div h3 {
		font-size: 40px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.info2 {
		padding-top: 0px;
	}

	footer {
		text-align: center;
	}

	footer p.copy {
		margin-top: 20px;
	}

		footer > div > div > div > div {
			text-align: center;
		}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.cb-slideshow li span {
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
	}

	.cb-slideshow li div {
		top: 60%;
	}

		.cb-slideshow li div h3 { 
			font-size: 30px;
		}

		.cb-slideshow li div h4 { 
			font-size: 26px;
		}

	.info {
		top: 350px;
	}

	.info2 {
		padding-top: 220px;
		padding-bottom: 0px;
	}
	.info2 p {
		width: 80%;
		margin: 0 auto;
		font-size: 20px;
		line-height: 1.5;
		text-align: justify;
	}

	.servicios {
		background-attachment: scroll;
	}

		.servicios .pops {
			position: relative;
			z-index: 0;
		}

	.citas form {
		width: 100%;
	}

	input, textarea {
		width: 100%;
	}

	.submit {
		width: 100%;
	}

	.navbar {
		min-height: 50px;
		max-height: 50px;
	}

		.navbar-brand {
			height: 50px;
			width: 200px;
		}

			.navbar-brand > img {
				width: 80%;
				height: auto;
			}

		.navbar-nav {
			margin: 0px -15px;
			background-color: #2394df;
		}

			.navbar-nav > li > a {
				padding-top: 15px;
				padding-bottom: 15px;
			}

			nav.navbar.shrink .navbar-brand > img {
				width: 80%;
				height: auto;
			}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.above-nav > div {
		text-align: center;
	}

	.above-nav > div > a span {
		display: none;
	}

	.cb-slideshow li span {
		background-size: 150%;
		background-position: center 70px;
		background-repeat: no-repeat;
	}

	.cb-slideshow li div {
		top: 25%;
	}

		.cb-slideshow li div h3 { 
			font-size: 40px;
		}

		.cb-slideshow li div h4 { 
			font-size: 30px;
		}

	.info {
		top: 280px;
	}

	.info2 {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.servicios {
		top: 270px;
	}

	.mapa {
		top: 280px;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}
